<AbsoluteLayout width="210" height="210" backgroundColor="lightgray">

    <Label text="Djumaster1" left="10" top="10" width="90" height="90"
        backgroundColor="red"></Label>
    <Label text="Djumaster2" left="110" top="10" width="90" height="90"
        backgroundColor="green"></Label>
    <Label text="Djumaster3" left="110" top="110" width="90" height="90"
        backgroundColor="blue"></Label>
    <Label text="Djumaster4" left="10" top="110" width="90" height="90"
        backgroundColor="yellow">


    </Label>

    <Button text="ACCEUIL" (tap)="onButtonTap()"></Button>
</AbsoluteLayout>
<Label text="DJUMASTER APPLICATION"></Label>
