<ActionBar class="action-bar">
    <Label class="action-bar-title" neTworkIT=""></Label>
</ActionBar>
<StackLayout orientation="horizontal" width="210" height="210"
             backgroundColor="lightgray">
    <Label text="Installation" width="70" height="50" backgroundColor="red">
    </Label>
    <Label text="Products" width="70" height="50" backgroundColor="yellow">
    </Label>
    <Label text="Solution" width="70" height="50" backgroundColor="yellow">
    </Label>
    <Image
            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
    </Image>
</StackLayout>
