<ActionBar>
    <Label text="Browse"></Label>
</ActionBar>

<GridLayout class="page__content">
    <WebView height="1200px" src="https://www.google.com/maps/uv?hl=en&pb=!1s0x882b6ab907b89e77:0x4a9d9a6091670d9b!3m1!7e115!4shttps://lh5.googleusercontent.com/p/AF1QipPm8aietsVhustxGcTHxtziDpM2B5uSFKGJ-QFT%3Dw284-h160-k-no!5sjeunes+sans+fronti%C3%A8res+-+Google+Search&imagekey=!1e10!2sAF1QipPm8aietsVhustxGcTHxtziDpM2B5uSFKGJ-QFT&sa=X&ved=2ahUKEwi-ke3M85_mAhXXop4KHcKwCMMQoiowG3oECA4QBg></WebView>
</GridLayout>
