<AbsoluteLayout width="210" height="210" backgroundColor="lightgray">
    <Label text="Acceuil" left="10" top="10" width="90" height="90"
        backgroundColor="red"></Label>
    <Label text="Produits" left="110" top="10" width="90" height="90"
        backgroundColor="green"></Label>
    <Button text="ABASSE" (tap)="onButtonTap()"></Button>

    <Label text="A Propos" left="110" top="110" width="90" height="90"
        backgroundColor="blue"></Label>
    <Label text="Nous Contacter" left="10" top="110" width="90" height="90"
        backgroundColor="yellow"></Label>


</AbsoluteLayout>
