<ActionBar title="DJUMASTER APP" class="action-bar"></ActionBar>

<AbsoluteLayout width="510" height="510" backgroundColor="lightgray">

    <Label text="Djumaster1" left="10" top="10" width="90" height="90"
           backgroundColor="red"></Label>
    <Label text="Djumaster2" left="110" top="10" width="90" height="90"
           backgroundColor="green"></Label>
    <Label text="Djumaster3" left="110" top="110" width="90" height="90"
           backgroundColor="blue"></Label>
    <Label text="Djumaster4" left="10" top="110" width="90" height="90"
           backgroundColor="yellow">


    </Label>

    <Button text="ACCEUIL" (tap)="onButtonTap()"></Button>



</AbsoluteLayout>
<Img src="https://play.nativescript.org/dist/assets/img/flags/ca.png" alt="Smiley face" height="62" width="62">



