

<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Google"></Label>
</ActionBar>

<DockLayout stretchLastChild="true">
    <Button dock="left" text="Facebook" style="background-color: #0099CC; margin: 5;"></Button>
    <Button dock="right" text="Instagram" style="background-color: #8C489F; margin: 5;"></Button>
    <Button dock="bottom" text="Home" style="background-color: #AA0078; margin: 5;"></Button>
    <Button dock="top" text="Search" style="background-color: #B3B3D7; margin: 5;"></Button>
    <Button text="Camera" style="background-color: #CCFFFF; margin: 5;"></Button>
</DockLayout>



