<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Shopping time"></Label>
</ActionBar>


<DockLayout width="265" height="170" backgroundColor="white"
            stretchLastChild="false">
    <Label text="Accessoires" dock="left" width="60" backgroundColor="pink">
    </Label>
    <Label text="Clothing" dock="right" width="60" backgroundColor="turquoise">
    </Label>
    <Label text="Home & Living" dock="bottom" height="60" backgroundColor="yellow">
    </Label>

    <Image
            src="https://postmediamontrealgazette2.files.wordpress.com/2014/06/shopping.jpg?quality=55&strip=all">
    </Image>
</DockLayout>
