ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout orientation="vertical" width="210" height="210"
             backgroundColor="lightgray">
    <Label text="Label 1" width="70" height="50" backgroundColor="red">
    </Label>
    <Label text="Label 2" width="70" height="50" backgroundColor="green">
    </Label>

    <Image
            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
    </Image>

</StackLayout>
