<ActionBar title="technical support" class="action-bar"></ActionBar>

<StackLayout orientation="vertical" width="210" height="210"
    backgroundColor="lightgray">
    <Label text="Model" width="70" height="50" backgroundColor="red">
    </Label>
    <Label text="Client Name" width="70" height="50" backgroundColor="green">
    </Label>
    <Label text="Date" width="70" height="50" backgroundColor="blue">
    </Label>
    <Label text="Location" width="70" height="50" backgroundColor="yellow">
    </Label>
    <Image
        src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
    </Image>
