<ActionBar title="safelife" class="action-bar"></ActionBar>

<SearchBar hint="Search hint" text="{{ searchPhrase }}"
           submit="{{ onSearchSubmit }}" />

<StackLayout orientation="vertical" width="210" height="210"
           backgroundColor="lightgray">
    
    <Label text=" identification ID" width="70" height="50" backgroundColor="red" /> 
    </Label>
    <Label text="long in" width="70" height="50" backgroundColor="green" />
   </Label>
     <Image
            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png" />
   </Image>
</StackLayout>
