<ActionBar title="shopping time" class="action-bar">
</ActionBar>

<Label text="Label"></Label>

<Image
        src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
</Image>


<Label text="Label"></Label>



<DockLayout width="210" height="210" backgroundColor="lightgray"
            stretchLastChild="false">
    <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
    <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
    <Label text="right" dock="right" width="60" backgroundColor="blue">
    </Label>
    <Label text="bottom" dock="bottom" height="60" backgroundColor="yellow">
    </Label>
</DockLayout>
